<div class="container text-white" style="min-height: 100vh">
  <h1 class="display-4-custom font-weight-bold my-3 mx-2">Wykształcenie</h1>
  <div class="card bg-white my-3 bg-dark">
    <div class="row no-gutters">
      <div class="col-sm-5 col-lg-2 d-flex">
        <img
          class="card-img mx-auto my-auto"
          style="width: 9rem; height: 9rem"
          src="../../assets/images/PW.jpg"
          alt="Suresh Dasari Card"
        />
      </div>
      <div class="col-sm-7 col-lg-10">
        <div class="card-body">
          <h5 class="card-title">Politechnika Warszawska</h5>
          <p class="card-text">10.2023 - 07.2025 | W trakcie</p>
          <p class="card-text">Inż. magister</p>
          <p class="card-text">
            Specjalizacja: Inżynieria systemów informacyjnych
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="card bg-white my-3 bg-dark">
    <div class="row no-gutters">
      <div class="col-sm-5 col-lg-2 d-flex">
        <img
          class="card-img mx-auto my-auto"
          style="width: 9rem; height: 9rem"
          src="../../assets/images/sggw.png"
          alt="SGGW Logo"
        />
      </div>
      <div class="col-sm-7 col-lg-10 text-dark">
        <div class="card-body">
          <h5 class="card-title">
            Szkoła Główna Gospodarstwa Wiejskiego w Warszawie
          </h5>
          <p class="card-text">10.2019 - 02.2023 | Skończone</p>
          <p class="card-text">Inżynier</p>
          <p class="card-text">
            Specjalizacja: Inżynieria systemów informacyjnych
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
