<div class="container mt-5 text-white">
  <h3 class="mb-3">{{ "Education" | translate }}</h3>
  <div class="my-5">
    <div class="row gap-3 gap-md-0">
      <div class="col-sm-5 col-lg-2 d-flex">
        <img
          class="card-img mx-auto my-auto"
          style="width: 7rem; height: 7rem"
          src="assets/images/pw_logo.png"
          alt="PW logo"
        />
      </div>
      <div class="col-sm-7 col-lg-10 text-white">
        <div class="text-center text-md-start">
          <h6>{{ "WUT" | translate }}</h6>
          <p style="font-size: 0.7rem">
            10.2023 - 07.2025 | {{ "InProgress" | translate }}
          </p>
          <p class="mb-0">{{ "MasterOfEngineering" | translate }}</p>
          <p class="mb-0">{{ "AppliedComputerScience" | translate }}</p>
          <p>
            {{ "Specialization" | translate }}:
            {{ "SoftwareEngineering" | translate }}
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="my-5">
    <div class="row gap-3 gap-md-0">
      <div class="col-sm-5 col-lg-2 d-flex">
        <img
          class="card-img mx-auto my-auto"
          style="width: 7rem; height: 7rem"
          src="assets/images/SGGW_logo.png"
          alt="SGGW Logo"
        />
      </div>
      <div class="col-sm-7 col-lg-10 text-white">
        <div class="text-center text-md-start">
          <h6>{{ "SGGW" | translate }}</h6>
          <p style="font-size: 0.7rem">
            10.2019 - 02.2023 | {{ "Completed" | translate }}
          </p>
          <p class="mb-0">{{ "BachelorOfEngineering" | translate }}</p>
          <p class="mb-0">{{ "ComputerScience" | translate }}</p>
          <p>
            {{ "Specialization" | translate }}:
            {{ "InformationSystemsEngineering" | translate }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
