<div class="container mt-5 text-white">
  <h3 class="mb-3">Wykształcenie</h3>
  <div class="my-5">
    <div class="row gap-3 gap-md-0">
      <div class="col-sm-5 col-lg-2 d-flex">
        <img
          class="card-img mx-auto my-auto"
          style="width: 7rem; height: 7rem"
          src="assets/images/pw_logo.png"
          alt="PW logo"
        />
      </div>
      <div class="col-sm-7 col-lg-10 text-white">
        <div class="text-center text-md-start">
          <h6>Politechnika Warszawska</h6>
          <p style="font-size: 0.7rem">10.2023 - 07.2025 | W trakcie</p>
          <p class="mb-0">Inż. magister</p>
          <p class="mb-0">Kierunek: Informatyka stosowana</p>
          <p>Specjalizacja: Inżynieria oprogramowania</p>
        </div>
      </div>
    </div>
  </div>
  <div class="my-5">
    <div class="row gap-3 gap-md-0">
      <div class="col-sm-5 col-lg-2 d-flex">
        <img
          class="card-img mx-auto my-auto"
          style="width: 7rem; height: 7rem"
          src="assets/images/SGGW_logo.png"
          alt="SGGW Logo"
        />
      </div>
      <div class="col-sm-7 col-lg-10 text-white">
        <div class="text-center text-md-start">
          <h6>Szkoła Główna Gospodarstwa Wiejskiego w Warszawie</h6>
          <p style="font-size: 0.7rem">10.2019 - 02.2023 | Skończone</p>
          <p class="mb-0">Inżynier</p>
          <p class="mb-0">Kierunek: Informatyka</p>
          <p>Specjalizacja: Inżynieria systemów informacyjnych</p>
        </div>
      </div>
    </div>
  </div>
</div>
