<div class="container-fluid px-0">
  <nav
    id="navbar_top"
    class="navbar navbar-expand-lg navbar-dark bg-custom fixed-top"
  >
    <img
      routerLink="home"
      src="../../assets/images/logoPB2.png"
      class="ml-2 px-2"
      height="35"
    />
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
      (click)="isMenuCollapsed = !isMenuCollapsed"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div
      class="collapse navbar-collapse nav-links"
      [ngbCollapse]="isMenuCollapsed"
      id="navbarSupportedContent"
    >
      <ul class="navbar-nav mr-sm-5 ml-auto">
        <li
          class="nav-item nav mx-2"
          routerLinkActive="actives"
          [routerLinkActiveOptions]="linkActiveOptions"
        >
          <a
            class="nav-link text-uppercase text-light"
            routerLink="home"
            (click)="isMenuCollapsed = true"
            >{{ "Strona główna" | uppercase }}
          </a>
        </li>
        <!-- <li
          class="nav-item nav mx-2"
          routerLinkActive="actives"
          [routerLinkActiveOptions]="linkActiveOptions"
        >
          <a
            class="nav-link text-uppercase text-light"
            routerLink="home"
            fragment="about"
            (click)="isMenuCollapsed = true"
            >{{ "O mnie" | uppercase }}
          </a>
        </li> -->
        <!-- <li
          class="nav-item nav mx-2"
          routerLinkActive="actives"
          [routerLinkActiveOptions]="linkActiveOptions"
        >
          <a
            class="nav-link text-uppercase text-light"
            routerLink="home"
            fragment="skills"
            (click)="isMenuCollapsed = true"
          >
            {{ "Skills" | uppercase }}
          </a>
        </li> -->
        <!-- <li
          class="nav-item nav mx-2"
          routerLinkActive="actives"
          [routerLinkActiveOptions]="linkActiveOptions"
        >
          <a
            class="nav-link text-uppercase text-light"
            routerLink="home"
            fragment="education"
            (click)="isMenuCollapsed = true"
            >{{ "Wykształcenie" | uppercase }}
          </a>
        </li> -->
        <!-- <li
          class="nav-item nav mx-2"
          routerLinkActive="actives"
          [routerLinkActiveOptions]="linkActiveOptions"
        >
          <a
            class="nav-link text-light"
            routerLink="home"
            fragment="experience"
            (click)="isMenuCollapsed = true"
            >{{ "Doświadczenie" | uppercase }}
          </a>
        </li> -->
        <li
          class="nav-item nav mx-2"
          routerLinkActive="actives"
          [routerLinkActiveOptions]="linkActiveOptions"
        >
          <a
            class="nav-link text-uppercase text-light"
            routerLink="contact"
            (click)="isMenuCollapsed = true"
            >{{ "Contact" | uppercase }}
          </a>
        </li>
        <li class="nav-item dropdown mx-2 text-uppercase text-light">
          <select
            role="button"
            name="language"
            id="language"
            class="my-2 text-uppercase"
          >
            <!-- <option class="text-uppercase">PL</option> -->
            <option class="text-uppercase">EN</option>
            <!-- <option class="text-uppercase">NO</option> -->
          </select>
        </li>
      </ul>
    </div>
  </nav>
</div>
