<div class="container mt-5 text-white" style="min-height: 100vh">
  <div class="row d-flex justify-content-center">
    <h1 class="display-4-custom font-weight-bold my-3 mx-2">O mnie</h1>
    <p class="h5 my-3" style="font-weight: 200">
      Nazywam się Patryk Brzozowski, pracuję obecnie na stoniwsku Junior .NET
      Developer. Rozwijam się w kierunku .NET FullStack Developer. Staram się
      zdobywać wiedzę na podstawie realizowanych przeze mnie projektów.
    </p>
    <p class="h5 my-3" style="font-weight: 200">
      Jestem osobą ambitną, szybko się uczę oraz nie boję się nowych wyzwań.
      Moją cechą jest również to, że zwracam uwagę na najmniejsze szczegóły, co
      również przekładam na projekty. Staram się być na bieżąco z najnowszymi
      technologiami poprzez codzienne przyswajanie wiedzy związanej z
      programowaniem. Biore udział w róznego typu kursach oraz konferencjach
      związanych z szeroko pojętą informatyką, w szczególności z programowaniem.
      Skupiam się na równoległym rozwoju umiejętności związanych z Front-End 💻
      oraz językiem C# (w szczególności ASP.Net, Web Api, WPF). Swoje
      umiejętności wykorzystuję w realizacji projektów grupowych oraz
      samodzielnych. Jestem również absolwentem studiów inżynierskich na
      kierunki informatyka.
    </p>
    <p class="h5 my-3" style="font-weight: 200">
      Poza programowaniem interesuje się również UI/UX 💎, Data Science/AI 🧬
      oraz ekonomią 📈. Lubię również uczyć się języków obcych 👅 oraz grę na
      instrumentach 🎸.
    </p>
  </div>
</div>
