<div class="container mt-md-5 bg-transparent" style="height: 100vh">
  <div class="row justify-content-center">
    <div class="col-sm-6 col-lg-4">
      <div class="card bg-transparent border-0">
        <img
          class="card-img-bottom card-img-top img-resp"
          src="../../assets/images/me.jpg"
          alt="Profile Image"
        />
      </div>
    </div>
    <div class="col-sm-6 col-lg-8 text-light">
      <div class="card bg-transparent border-0">
        <div class="card-body text-white">
          <h1 class="card-title">Hi,</h1>
          <p class="fs-3 card-text">I'm Patryk Brzozowski</p>
          <p class="card-text">I'm Patryk Brzozowski</p>
        </div>
      </div>
    </div>
  </div>
</div>
