<div class="container mt-5 text-white">
  <div class="row d-flex justify-content-center">
    <h3 class="my-3 mx-2">{{ "Experience" | translate }}</h3>
    <div
      class="col my-3 d-flex justify-content-center justify-content-md-start"
    >
      <section class="text-white px-3 px-md-0">
        <ul class="timeline-with-icons">
          <li class="timeline-item mb-5">
            <span class="timeline-icon">
              <i class="fas fa-code text-black fa-sm fa-fw"></i>
            </span>
            <p class="fw-bold mb-0">
              Junior .NET Developer | AAT SYSTEMY BEZPIECZEŃSTWA
            </p>
            <p style="font-size: 0.8rem" class="mb-2">
              04.2023 - {{ "Present" | translate }}
            </p>
            <div>
              <ul class="p-0" style="font-weight: 200">
                <li class="list-group-item">
                  <i class="fas fa-gear mr-3"></i>
                  {{ "DevelopmentNovusManagementSystemAC" | translate }}
                </li>
                <li class="list-group-item">
                  <i class="fas fa-gear mr-3"></i>
                  {{ "FireAlarmSystemImplementation" | translate }}
                </li>
                <li class="list-group-item">
                  <i class="fas fa-gear mr-3"></i>
                  {{ "AccessControlImplementation" | translate }}
                </li>
                <li class="list-group-item">
                  <i class="fas fa-gear mr-3"></i
                  ><span class="fw-bold"
                    >{{ "Technologies" | translate }}: </span
                  >ASP.NET | WPF | Entity Framework Core | Angular | SQL
                </li>
                <li class="list-group-item">
                  <i class="fas fa-gear mr-3"></i
                  ><span class="fw-bold">{{ "Tools" | translate }}: </span
                  >Visual Studio | Visual Studio Code | SQL Server Management
                  System
                </li>
              </ul>
            </div>
          </li>
          <li class="timeline-item mb-5">
            <span class="timeline-icon">
              <i class="fas fa-code text-black fa-sm fa-fw"></i>
            </span>
            <p class="fw-bold mb-0">
              {{ "Trainee" | translate }} | {{ "UKE" | translate }}
            </p>
            <p style="font-size: 0.8rem" class="mb-2">07.2021 - 08.2021</p>
            <div>
              <ul class="p-0" style="font-weight: 200">
                <li class="list-group-item">
                  <i class="fas fa-gear mr-3"></i>
                  {{ "WebScraping" | translate }}
                </li>
                <li class="list-group-item">
                  <i class="fas fa-gear mr-3"></i>
                  {{ "WritingUnitTests" | translate }}
                </li>
                <li class="list-group-item">
                  <i class="fas fa-gear mr-3"></i>
                  <span class="fw-bold">{{ "Technologies" | translate }}: </span
                  >Java | Selenium
                </li>
                <li class="list-group-item">
                  <i class="fas fa-gear mr-3"></i>
                  <span class="fw-bold">{{ "Tools" | translate }}: </span
                  >IntelliJ IDEA
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </section>
    </div>
  </div>
</div>
