<div class="container mt-5 text-white">
  <div class="row d-flex justify-content-center">
    <h3 class="my-3 mx-2">Doświadczenie</h3>
    <div
      class="col my-3 d-flex justify-content-center justify-content-md-start"
    >
      <section class="text-white px-3 px-md-0">
        <ul class="timeline-with-icons">
          <li class="timeline-item mb-5">
            <span class="timeline-icon">
              <i class="fas fa-code text-black fa-sm fa-fw"></i>
            </span>
            <p class="fw-bold mb-0">
              Junior .NET Developer | AAT Systemy bezpieczeństwa
            </p>
            <p style="font-size: 0.8rem" class="mb-2">
              kwiecień 2023 - obecnie
            </p>
            <div>
              <ul class="p-0" style="font-weight: 200">
                <li class="list-group-item">
                  <i class="fas fa-gear mr-3"></i> Rozwój aplikacji "NOVUS
                  MANAGEMENT SYSTEM AC"
                </li>
                <li class="list-group-item">
                  <i class="fas fa-gear mr-3"></i> Implementacja integracji z
                  systemem sygnalizacji pożarowej
                </li>
                <li class="list-group-item">
                  <i class="fas fa-gear mr-3"></i> Implementacja jednej z
                  integracji kontroli dostępu
                </li>
                <li class="list-group-item">
                  <i class="fas fa-gear mr-3"></i
                  ><span class="fw-bold">Technologie: </span>ASP.NET | WPF |
                  Entity Framework Core | Angular | SQL
                </li>
                <li class="list-group-item">
                  <i class="fas fa-gear mr-3"></i
                  ><span class="fw-bold">Narzędzia: </span>Visual Studio |
                  Visual Studio Code | SQL Server Management System
                </li>
              </ul>
            </div>
          </li>
          <li class="timeline-item mb-5">
            <span class="timeline-icon">
              <i class="fas fa-code text-black fa-sm fa-fw"></i>
            </span>
            <p class="fw-bold mb-0">
              Praktyki | Urząd Komunikacji Elektronicznej w Warszawie
            </p>
            <p style="font-size: 0.8rem" class="mb-2">
              lipiec 2021 - sierpień 2021
            </p>
            <div>
              <ul class="p-0" style="font-weight: 200">
                <li class="list-group-item">
                  <i class="fas fa-gear mr-3"></i> Zbieranie danych z sieci
                </li>
                <li class="list-group-item">
                  <i class="fas fa-gear mr-3"></i> Pisanie testów jednostkowych
                </li>
                <li class="list-group-item">
                  <i class="fas fa-gear mr-3"></i>
                  <span class="fw-bold">Technologie: </span>Java | Selenium
                </li>
                <li class="list-group-item">
                  <i class="fas fa-gear mr-3"></i>
                  <span class="fw-bold">Narzędzia: </span>IntelliJ IDEA
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </section>
    </div>
  </div>
</div>
