<div class="container mt-5 text-white" style="min-height: 100vh">
  <div class="row d-flex justify-content-center">
    <h1 class="display-4-custom font-weight-bold my-3 mx-2">Doświadczenie</h1>

    <div
      class="col my-3 d-flex justify-content-center justify-content-md-start"
    >
      <section class="text-white px-3 px-md-0">
        <ul class="timeline-with-icons">
          <li class="timeline-item mb-5">
            <span class="timeline-icon">
              <i class="fas fa-code text-black fa-sm fa-fw"></i>
            </span>
            <p class="fw-bold">
              Junior .NET Developer | AAT Systemy bezpieczeństwa
            </p>
            <p class="mb-2 fw-bold">kwiecień 2023 - obecnie</p>
            <div>
              <ul class="p-0" style="font-weight: 200">
                <li class="list-group-item">
                  <i class="fas fa-gear mr-3"></i> Prowdzenie dokumentacji
                </li>
                <li class="list-group-item">
                  <i class="fas fa-gear mr-3"></i> Prowdzenie dokumentacji
                </li>
                <li class="list-group-item">
                  <i class="fas fa-gear mr-3"></i> Pisanie testów jednostkowych
                </li>
              </ul>
            </div>
          </li>
          <li class="timeline-item mb-5">
            <span class="timeline-icon">
              <i class="fas fa-code text-black fa-sm fa-fw"></i>
            </span>
            <p class="fw-bold">
              Praktyki | Urząd Komunikacji Elektronicznej w Warszawie
            </p>
            <p class="mb-2 fw-bold">lipiec 2021 - sierpień 2021</p>
            <div>
              <ul class="p-0" style="font-weight: 200">
                <li class="list-group-item">
                  <i class="fas fa-gear mr-3"></i> Prowdzenie dokumentacji
                </li>
                <li class="list-group-item">
                  <i class="fas fa-gear mr-3"></i> Prowdzenie dokumentacji
                </li>
                <li class="list-group-item">
                  <i class="fas fa-gear mr-3"></i> Pisanie testów jednostkowych
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </section>
    </div>
  </div>
</div>
