.responsive-svg {
  width: 1.2rem;
  height: 1.2rem;

  @media (min-width: 384px) {
    width: 1.5rem;
    height: 1.5rem;
  }
}

.responsive-text-link {
  font-size: 0.7rem;

  @media (min-width: 320px) {
    font-size: 0.8rem;
  }

  // @media (min-width: 380px) {
  //   font-size: 1rem;
  // }
}

// .btn:focus {
//   box-shadow: none !important;
// }
