<!-- 
    <div class="container mt-5 text-white" style="height: 100vh" id="about">
  <div class="row justify-content-center">
 -->
<div class="container-fluid p-0" style="min-height: 100vh">
  <div class="text-light container my-5">
    <div class="row my-5">
      <div class="col-md-7">
        <h1 class="display-4-custom font-weight-bold my-5">Umiejętności</h1>
        <p class="h5 my-3" style="font-weight: 200">
          Obecnie znam takie technologie jak HTML, CSS, JavaScript, .NET
          (ASP.NET, Web API, Minimal API, WPF), Angular, RabbitMQ, Python,
          Bootstrap, Tailwind, relacyjne bazy danych (SQL, MySQL, SQLite,
          PostgreSQL), GitHub. Każdego dnia poznaje nowe zagadnienia oraz
          poszerzam swoją wiedzę związaną z programowaniem. Narzędzia w jakich
          na codzień pracuje to: Visual Studio oraz Visual Studio Code.
        </p>
      </div>
      <div class="col-md-5 d-flex justify-content-center">
        <img class="img-resp" src="../../assets/images/skills.png" alt="..." />
      </div>
    </div>
  </div>
</div>

<!-- <div class="container align-content-center mx-auto" style="height: 100vh">
  <div class="row mt-5 mt-md-0 justify-content-center mx-auto text-white">
    <h1 class="display-4-custom font-weight-bold my-5 mx-2">Umiejętności</h1>
    <div class="col-md-6 mt-5 mt-md-0">
      <p class="h4 font-weight-normal my-3">
        trans 'Obecnie znam takie technologie jak HTML, CSS, JavaScript, Python
        (Django, Django REST Framework, Flask), ReactJS, Bootstrap, Tailwind,
        relacyjne bazy danych (SQL, MySQL, SQLite, PostgreSQL), GitHub. Każdego
        dnia poznaje nowe zagadnienia oraz poszerzam swoją wiedzę związaną z
        programowaniem. Narzędzia w jakich na codzień pracuje to: PyCharm oraz
        Visual Studio Code. Rozwijam się oraz zdobywam doświadczenie przy
        niewielkich projektach realizowanych dla samego siebie lub na potrzeby
        zajęć.'
      </p>
    </div>
    <div class="col-md-6 text-white">
      <img src="../../assets/images/skills.png" alt="" class=" " />
    </div>
  </div>
</div> -->
