<div class="container-fluid p-0">
  <div class="text-light container my-5">
    <div class="row my-5">
      <div class="col-md-7">
        <h3 class="my-5">Umiejętności</h3>
        <p style="font-weight: 200">
          Obecnie znam takie technologie jak HTML, CSS, JavaScript, .NET
          (ASP.NET, Web API, Minimal API, WPF), Angular, RabbitMQ, Python,
          Bootstrap, Tailwind, relacyjne bazy danych (SQL, MySQL, SQLite,
          PostgreSQL), Git. Każdego dnia poznaje nowe zagadnienia oraz poszerzam
          swoją wiedzę związaną z programowaniem. Narzędzia w jakich na codzień
          pracuje to: Visual Studio oraz Visual Studio Code.
        </p>
      </div>
      <div class="col-md-5 d-flex justify-content-center">
        <img class="img-resp" src="assets/images/skills.png" alt="My skills" />
      </div>
    </div>
  </div>
</div>
