<div class="container-fluid p-0">
  <div class="text-light container my-5">
    <div class="row my-5">
      <div class="col-md-7">
        <h3 class="my-3">Umiejętności</h3>
        <p style="font-weight: 200">
          Obecnie znam takie technologie jak .NET/C# (ASP.NET, Web API, Minimal
          API, WPF), Entity Framwerok Core, Dapper, Angular, HTML, CSS,
          Bootstrap, Tailwind, JavaScript, Typescript, Python, relacyjne bazy
          danych (SQL, SQLite, PostgreSQL), Git. Każdego dnia poznaje nowe
          zagadnienia oraz poszerzam swoją wiedzę związaną z programowaniem.
          Narzędzia w jakich na codzień pracuje to: Visual Studio, Visual Studio
          Code oraz SQL Server Management System.
        </p>
      </div>
      <div class="col-md-5 d-flex justify-content-center">
        <img class="img-resp" src="assets/images/skills.png" alt="My skills" />
      </div>
    </div>
  </div>
</div>
