<div class="container-fluid px-0">
  <div class="container mt-5">
    <div class="row mx-auto mt-lg-2">
      <div class="col mx-auto">
        <h1 class="display-4 text-light font-weight-bold ml-3 mt-lg-5">
          Cześć, nazywam się Patryk Brzozowski
        </h1>
        <h4 class="text-light ml-3 mt-lg-5">
          Jestem programistą i zajmuję się tworzeniem aplikacji internetowych.
        </h4>

        <a class="neonBtn my-4 ml-3" href="#">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          Skontaktujmy się
        </a>
      </div>
      <div class="col my-auto mx-auto">
        <div class="row">
          <img
            src="../../assets/images/arEmoji22.gif"
            alt="My emoji"
            class="img-thumbnail rounded-circle mt-3"
          />
        </div>
      </div>
    </div>
  </div>
</div>
